---
title: Home
---
<section class="posts">
  <!-- post list -->
  {% for post in paginator.posts %}
    <article class="post">
      {% include post-heading.html post=post %}
      <div class="image">
        <img data-src="{{ post.featured_image }}" class="lazyload" alt="{{ post.title }}">
      </div>

      {{ post.excerpt }}
      <!-- {{ post.content | strip_html | truncatewords: 50 }} -->

      <p><a class="button" href="{{ post.url }}">Read more</a></p>
      <hr>
    </article>
  {% endfor %}
  
  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination"> 
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">❮ Prev</a>
    {% else %}
      <span>❮ Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span>{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next ❯</a>
    {% else %}
      <span>Next ❯</span>
    {% endif %}
  </div>
  {% endif %}
</section>
