<!-- {% if include.post_page %}
    <div class="take-me">
        <a class="button" href="#episode">Jump to end</a>
    </div>
{% endif %} -->
<h1>
    <a href="{{ include.post.url }}">
        {{ include.post.title }}
    </a>
</h1>

<div class="entry-meta">
    {% if site.data.djs[post.dj] %}
        <span class="author">
            by
            <a
                data-chaffle="en"
                href="http://weibo.com/{{ site.data.djs[post.dj].weibo }}"
                target="_blank">{{ site.data.djs[post.dj].name }}</a>
            |
        </span>
    {% endif %}
    <time datetime="{{ include.post.date | date_to_xmlschema }}">
        {{ include.post.date | date: "%Y/%m/%d" }}
    </time>
</div>
