<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	<div class="author">
	{% if page.dj %}
		<p>
			<a href="http://weibo.com/{{ site.data.djs[page.dj].weibo }}">
				<img src="{{ site.baseurl }}{{ site.data.djs[page.dj].image }}" alt="{{ site.data.djs[page.dj].name}}" class="author">
			</a>
		</p>
		<p>{{ site.data.djs[page.dj].name | markdownify }}</p>
		<p>{{ site.data.djs[page.dj].description | markdownify }}</p>

	<div class="social-icons">
		{% if site.data.djs[page.dj].twitter %}
			<a target="_blank" href="https://twitter.com/{{ site.data.djs[page.dj].twitter }}">{% include social-icon.html icon="Twitter" %}</a>
		{% endif %}
		{% if site.data.djs[page.dj].weibo %}
			<a target="_blank" href="http://weibo.com/{{ site.data.djs[page.dj].weibo }}">{% include social-icon.html icon="Weibo" %}</a>
		{% endif %}
		</div>

	{% else %}
		<p>
			<a href="http://weibo.com/{{ site.data.sidebar.weibo }}">
				<img src="{{ site.baseurl }}{{ site.data.sidebar.image }}" alt="{{ site.data.sidebar.name}}" class="author">
			</a>
		</p>
		<p>{{ site.data.sidebar.description | markdownify }}</p>

		<div class="social-icons">
			<a target="_blank" href="https://twitter.com/{{ site.data.sidebar.twitter }}">{% include social-icon.html icon="Twitter" %}</a>
			<a target="_blank" href="http://weibo.com/{{ site.data.sidebar.weibo }}">{% include social-icon.html icon="Weibo" %}</a>
			<a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
		</div>
	{% endif %}
	</div>

	<!-- newsletter -->
	<!-- <form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest episodes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form> -->
</aside>
