<aside class="sidebar">
    <div class="author">
        {% if page.dj %}
            <p>
                <a href="http://weibo.com/{{ site.data.djs[page.dj].weibo }}">
                    <img src="{{ site.baseurl }}{{ site.data.djs[page.dj].image }}" alt="{{ site.data.djs[page.dj].name}}" class="author">
                </a>
            </p>
            <p>{{ site.data.djs[page.dj].name | markdownify }}</p>
            <p>{{ site.data.djs[page.dj].description | markdownify }}</p>

            <div class="social-icons">
                {% if site.data.djs[page.dj].twitter %}
                    <a
                        href="https://twitter.com/{{ site.data.djs[page.dj].twitter }}"
                        target="_blank">{% include social-icon.html icon="Twitter" %}</a>
                {% endif %}
                {% if site.data.djs[page.dj].weibo %}
                    <a href="http://weibo.com/{{ site.data.djs[page.dj].weibo }}" target="_blank">{% include social-icon.html icon="Weibo" %}</a>
                {% endif %}
            </div>

        {% else %}
            <p>
                <a href="http://weibo.com/{{ site.data.sidebar.weibo }}">
                    <img src="{{ site.baseurl }}{{ site.data.sidebar.image }}" alt="{{ site.data.sidebar.name}}" class="author">
                </a>
            </p>
            <p>{{ site.data.sidebar.description | markdownify }}</p>

            <div class="social-icons">
                <a href="https://twitter.com/{{ site.data.sidebar.twitter }}" target="_blank">{% include social-icon.html icon="Twitter" %}</a>
                <a href="http://weibo.com/{{ site.data.sidebar.weibo }}" target="_blank">{% include social-icon.html icon="Weibo" %}</a>
                <a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
                <a target="_blank" href="{{ site.baseurl }}/podcast.xml">{% include social-icon.html icon="Podcast" %}</a>
            </div>
        {% endif %}
    </div>

    <div class="book-wrapper">
        <a
            class="book-container"
            href="https://book.douban.com/subject/34986373/"
            rel="noreferrer noopener"
            target="_blank">
            <div class="book">
                <img
                    alt="别再问我什么是嘻哈①"
                    src="https://img9.doubanio.com/view/subject/l/public/s33649835.jpg" />
            </div>
        </a>
        <a
            class="book-container"
            href="https://book.douban.com/subject/35929102/"
            rel="noreferrer noopener"
            target="_blank">
            <div class="book">
                <img
                    alt="别再问我什么是嘻哈②"
                    src="https://img9.doubanio.com/view/subject/l/public/s34391904.jpg" />
            </div>
        </a>
        <a
            class="book-container"
            href="https://book.douban.com/subject/35929103/"
            rel="noreferrer noopener"
            target="_blank">
            <div class="book">
                <img
                    alt="别再问我什么是嘻哈③"
                    src="https://img9.doubanio.com/view/subject/l/public/s34391905.jpg" />
            </div>
        </a>
    </div>

    <div class="playlist">
        <h3>SUBJPICK</h3>
        <div class="apple-music">
            <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/playlist/subjpick/pl.u-Zmblzgrs99mj7W?theme=light"></iframe>
        </div>

        <div class="spotify-playlist">
            <iframe
                allow="encrypted-media"
                allowtransparency="true"
                class="shadow-box"
                frameborder="0"
                height="450"
                src="https://open.spotify.com/embed/playlist/3iTcj8JElzAeLjuX9LQ8E6"
                style="max-width:300px;"
                width="100%"></iframe>
        </div>
    </div>

    <a href="{{ site.baseurl }}/2018-ranking">
        <div class="side_feature ranking_2018 shadow-box">
            <div class="side_feature_bg">最佳日音唱片 <br/>年度总选・2018</div>
        </div>
    </a>

    <a href="{{ site.baseurl }}/2017-ranking">
        <div class="side_feature ranking_2017 shadow-box">
            <div class="side_feature_bg">最佳日音唱片 <br/>年度总选・2017</div>
        </div>
    </a>

    <div class="good-stuff">
        <h3>
            Good Stuff
        </h3>
        <blockquote>如果 SUBJPOP 的内容已经满足不了你的好奇心，可以试试这些。</blockquote>
        <ul>
            {% for website in site.data.curated_websites %}
                <li>
                    <a href="{{ website.url }}">
                        {{ website.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- newsletter
	<form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest episodes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form> -->
	<!-- <div>全站搜索</div>
	{% include google-search.html %} -->
</aside>