---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	<div class="image">
		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
	</div>

	<h2>
		<a href="{{ page.stream_url }}">荔枝 FM 在线收听 ▶️</a>
	</h2>
	<hr>
	{% if page.playlist %}
		<div class="show-notes">
			<div class="albums">
				<h2>唱片购买链接</h2>
				{{ page.albums | markdownify }}
			</div>

			<div class="playlist">
				<h2>Playlist</h2>
				{{ page.playlist | markdownify }}
			</div>
		</div>
	{% endif %}
	<hr>
	<div class="recipe-body">
		{{ content }}
	</div>

	<!-- <ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
	</ul> -->

	<hr>
	<div class="notice">
		<h4>尊重原创：关于转载</h4>
		<p>我们希望在中文环境中建立一种健康的 TrackBack 和链接机制，保证原创，并不影响传播。因此对于歌词和翻译，我们<u>欢迎</u>您在网站上推荐我们的文章，包括文字和播客片段，但<u>不赞成</u>任何形式的全文转载。</p>
	</div>
	<hr>

	<div class="cta">
		<div class="button"><a href="/archives">节目分类归档</a></div>
	</div>
</article>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script> -->
